*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    color: #fff;
}
.profile p{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    padding: 2rem 0;
}
.image{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2rem;
}
.image img{
    width: 100%;
    border-radius: 15px;
}
.grid{
    display: flex;
    gap: 2rem;
}